<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>测试页面</title>
</head>

<style type="text/css">
body,
html,
a {
    width: 100%;
    height: 100%;
}
</style>
<script th:inline="javascript">
    var openid = /*[[${test}]]*/;
</script>
<body>
        <h2>测试变量：</h2>  <span th:text="${test}"></span>

        <form method="POST" enctype="multipart/form-data" th:action="@{/api/file/upload}" >

            文件：<input type="file" name="uploadFile" />
            <br/>
            <input type="submit" value="上传" />

        </form>
</body>

</html>
